body{
	background: url('../image/bg.png') no-repeat;
	background-size: cover;
}

.container{
	width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	color: #fff;
}
.container h1{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0;
}
.container p{
	font-size: 20px;
	margin: 15px 0;
}
.container p a{
	font-size: 20px;
	text-decoration: none;
	color: #fef;
	font-weight: bolder;
	padding: 20px;
}
.container p a:hover{
	color: #aba;
}
.container input{
	font-size: 16px;
	width: 100%;
	padding: 15px 10px;
	border: 0;
	outline: none;
	border-radius: 5px;
}
.container button{
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 15px;
	width: 50%;
	border-radius: 5px; 
	border: 0;
}